#resumetemp{
    display: none;
    border: 1px  solid rgba(0,0,0,.125);
}

#downloadbtn{
    display: none;
}



.circular {
    width: 150px;
    border: 1px solid black;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 29%;
  }
 


#bigpart{
    padding-right: 0px;
}
.background{
   background-color: cornflowerblue;
   
}
#cardhead{
    background-color: cornflowerblue;
    
    max-width: 47.5rem;
    margin-left: -12px;
}
#cardhead1{
    background-color: cornflowerblue;
    max-width: 47.5rem;
    margin-left: -12px;
}
#cardhead2{
    background-color: cornflowerblue;
    max-width: 47.5rem;
    margin-left: -12px;
}
#cardhead3{
    background-color: cornflowerblue;
    max-width: 47.5rem;
       margin-left: -12px;
}
