#resumetemp{
    display: none;
    border: 1px  solid rgba(0,0,0,.125);
}

#downloadbtn{
    display: none;
}
.myimg{

    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    
}


.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 29%;
  }
  .circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }



#bigpart{
    padding-right: 0px;
}
.background{
   background-color: cornflowerblue;
   
}
#cardhead{
    background-color: cornflowerblue;
    
    max-width: 47.5rem;
    margin-left: -12px;
}
#cardhead1{
    background-color: cornflowerblue;
    max-width: 47.5rem;
    margin-left: -12px;
}
#cardhead2{
    background-color: cornflowerblue;
    max-width: 47.5rem;
    margin-left: -12px;
}
#cardhead3{
    background-color: cornflowerblue;
    max-width: 47.5rem;
       margin-left: -12px;
}
